.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
.sidenav {
  margin-top: 50px;
  margin-left: 20px;
  padding: 30px;
}
.sidenav a {
  display: block;
  font-size: 20px;
  margin: 15px 0px 0px 15px;
  font-weight: bold;
}

.sub-menu {
  margin: 25px;
}

.inline {
  display: inline-block;
}
